
{{>nav}}

    <!-- main header -->

<div class="containter-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- right side div -->
                    <div class="col-md-5 col-12 main_header_right">
                            <figure class="figure_img">
                                <img src="image/about.jpg" alt="pciture" class="img-fluid" title="hunter" srcset="">
                            </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text-color">MERN Devloper</span> and a freelancer</h1>
                        <a href="http://www.avishekmagar.com.np"><button>About me</button></a>
                    </div>
                   
                </div>

                </div>
            </div>
        </div>


        {{>footer}}